/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#root {
  background-color: white;
  min-height: 100vh;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.jsb {
  justify-content: space-between;
}
.color-div {
  display: flex;
  padding: 1rem;
}
.right-div {
  flex: 0 1 20%;
  margin: 1%;
}
.right-div h3 {
  font-size: 2rem;
  font-weight: 800;
}
.left-div {
  flex: 0 1 70%;
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
}
.left-div div {
  flex: 0 1 15%;
  margin: 1%;
  padding: 0.5rem;
  /* border: 1px solid black; */
  border-radius: 7px;
}
.actual-color {
  height: 1.5rem;
  margin-bottom: 1rem;
}
.title h2 {
  font-size: 1.5rem;
  font-weight: 800;
}
.title h5 {
  font-size: 1rem;
  font-weight: 800;
}
